{% extends "base.html" %}
{% load staticfiles %}


{% block side_bar %}
{% endblock side_bar %}


{% block content %}
	<div class="clear"></div>
	<article>
		<div class="b-intro">
			<h1>Боевые искусства -<br> это физическое совершенство и образ мыслей</h1>
			<div class="inner-780">
			    <ul>
			        <li><a href="/static/html/box.html">Бокс</a></li>
			        <li><a href="/static/html/dzudzucu.html">Джиу-Джитсу</a></li>
			        <li><a href="/static/html/capoeira-one.html">Капоэйра</a></li>
			        <li><a href="/static/html/mix-fight.html">Mix fight (ММА)</a></li>
			        <li><a href="/static/html/okinawa-kafate-zero.html">Окинава каратэ</a></li>
			        <li><a href="/static/html/martial-arts-for-women.html">Боевые искусства для женщин</a></li>
			        <li><a href="/static/html/sito-ru.html">Каратэдо Сито-рю</a></li>
			        <li><a href="/static/html/muai-tay.html">Тайский бокс</a></li>
			        <li><a href="/static/html/hojo-undo.html">Ходзё ундо</a></li><br>
                   <li class="serif-32">Детям</li><br>
                    <li><a href="/static/html/martial-arts-for-children.html">Боевые искусства 3-6 лет</a></li>
                    <li><a href="/static/html/capoeira-for-children.html">Капоэйра 6+</a></li>
                    <li><a href="/static/html/okinawa-karate-for-children.html">Окинава каратэ 6+</a></li>
                    <li><a href="/static/html/muai-tay-for-children.html">Тайский бокс 6+</a></li>
                    </ul>
            </div>
		</div>
	</article>

	<article>
		<div class="inner">
			
            <div class="half">
               
                <a href="/static/html/club.html">
                <div class="opacity">
                <img alt="" src="/static/html/img/room-1-sm.jpg" />
                </div>
				<div class="wtm">
					<h2>Мы сделали один из лучших клубов боевых искусств в России<br><span>Подробнее</span></h2>
				</div>
                </a>
			</div>
			
            <div class="half">
                <a href="/static/html/about.html">
                <div class="opacity">
                <img alt="" src="/static/html/img/inst-sm.jpg" />
                </div>
				<div class="wtm">
					<h2>И собрали команду высококлассных инструкторов<br><span>Подробнее</span></h2>
				</div>
                </a>
			</div> 
		</div>
		<div class="clear"></div>
	</article>

    <div id='mountIndex'></div>

<article>
		<div class="inner" id="ind">
			<div class="full bggrey">
				<h3 class="bottom-48">Выбирайте и записывайтесь</h3>
				<div class="clear"></div>
				
				<div class="third bgwhite">
					<a href="/static/html/box.html"><img alt="" src="/static/html/img/box-sm.jpg" />
					<div class="wtm">
						<h2>Бокс</h2>
					</div>
                    </a>
					<div class="b-card">
						<div class="b-name-64"> 
                            <a href="/static/html/box.html"><img alt="" src="/static/html/img/box-r.jpg" /></a>
                            <p><a href="/static/html/box.html">Леонид Тимофеевич Фёдоров</a> – мастер спорта, чемпион СССР по боксу. Занимается боксом 54 года, преподает 40 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>Леонид Тимофеевич – один из самых опытных инструкторов клуба WМА. В свои 68 лет он полон сил и жизненной энергии и даст фору любому молодому бойцу. Бокс для этого мастера – настоящее искусство, требующее полной отдачи и кропотливой работы. <a href="/static/html/box.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Среда: 18:30 - 20:00<br>
                        	Суббота: 14:00 - 15:30</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="third bgwhite">
                    <a href="/static/html/dzudzucu.html"><img alt="" src="/static/html/img/dzudzucu-sm.jpg" />
					<div class="wtm">
						<h2>Джиу-Джитсу</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
						    <a href="/static/html/dzudzucu.html"><img alt="" src="/static/html/img/tulupov.jpg" /></a>
						    <p><a href="/static/html/dzudzucu.html">Андрей Тулупов</a> &#8211; инструктор по Джиу-Джитсу. Занимается Джиу-Джитсу 24 года, преподает 20 лет</p>
                        </div>
                        <div class="b-card-content">	
							<p>«Трансформация происходит тогда, когда мы идем через преодоление себя, когда делаем то, на что с первого взгляда, нам не хватит сил». <a href="/static/html/dzudzucu.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 20:00 – 21:30<br>
                        	Среда: 20:00 - 21:30<br>
                        	Пятница: 19:30 - 21:00</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="third bgwhite">
					<a href="/static/html/capoeira-one.html">
                    <img alt="" src="/static/html/img/capo-sm.jpg" />
					<div class="wtm">
						<h2>Капоэйра</h2>
					</div>
                    </a>
					<div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/capoeira-one.html"><img alt="" src="/static/html/img/kiselevich.jpg" /></a>
						    <p><a href="/static/html/capoeira-one.html">Евгений Киселевич</a> &#8211; инструктор по Капоэйра. Занимается Капоэйра 9 лет, преподает 6 лет</p>
                        </div>
                        <div class="b-card-content">	
							<p>«В первую очередь хочется выделить это направление, как симбиоз музыки, танца, акробатики и боевого искусства. Такая смесь не имеет аналогов.» <a href="/static/html/capoeira-one.html">Читать далее ...</a></p>
						<div class="card-action">	
                       	<p class="name">Среда: 18:30 - 20:00<br>
                        	Пятница: 18:30 - 20:00</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="clear"></div>
                <div class="inner bgwhite opacity">
                <a href="/static/html/okinawa-kafate-zero.html"><img alt="" src="/static/html/img/okinawa-karate-big.jpg" /></a>
					<div class="wtm">
						<h2 class="serif-42">Окинава каратэ</h2>
					</div>
                
			
            <div class="third bgwhite">
                    <div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/okinawa-karate-two.html"><img alt="" src="/static/html/img/vol-64.jpg" /></a>
                            <p class="name"><a href="/static/html/okinawa-karate-two.html">Владимир Рыбаков</a> &#8211; генеральный директор клуба WMA, инструктор по Окинава каратэ. Занимается Окинава каратэ 18 лет, преподает 13 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«Преподавание – это ремесло, в котором воочию видишь плоды своих трудов. Важно вести этот процесс от начала и до конца, тогда и результат получается наиболее ёмким и правильным». <a href="/static/html/okinawa-karate-two.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Вторник: 19:30 - 21:00<br>
                        	Четверг: 19:30 - 21:00<br>
                        	Суббота: 13:00 - 14:30</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
			
            <div class="third bgwhite">
                    <div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/okinawa-karate-three.html"><img alt="" src="/static/html/img/shishkin.jpg" /></a>
                            <p class="name"><a href="/static/html/okinawa-karate-three.html">Михаил Шишкин</a> &#8211; исполнительный директор WMA, инструктор по Окинава каратэ. Занимается Окинава каратэ 18 лет, преподает 14 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«Человек ставит много ограничений самому себе. Мастер настраивает ученика на преодоление подобных рамок и помогает открыть ему его собственные безграничные возможности». <a href="/static/html/okinawa-karate-three.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 18:30 - 20:00<br>
                        	Четверг: 18:30 - 20:00<br>
                        	Суббота: 13:00 - 14:30<br>
                        	Утренняя группа<br>
                        	Вторник: 08:00 - 9:30<br>
                       		Пятница: 08:00 - 9:15<br>
                        	</p>  
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
			
			<div class="third bgwhite">
                    <div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/okinawa-karate-one.html"><img alt="" src="/static/html/img/lukanin.jpg" /></a>
						    <p><a href="/static/html/okinawa-karate-one.html">Максим Луканин</a> &#8211; инструктор по Окинава каратэ. Занимается Окинава каратэ 16 лет, преподает 12 лет</p>
                        </div>
                        <div class="b-card-content">	
							<p>«Суть боевых искусств заключается не только в умении драться, но и в возможности одерживать победу над самим собой, постоянно самосовершенствуясь. Каратэ даёт уверенность в способности достижения поставленных жизненных целей». <a href="/static/html/okinawa-karate-one.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 19:30 - 21:00<br>
                        	Среда: 19:30 - 21:00<br>
                        	Пятница: 19:30 - 21:00</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
                </div>
                
                <div class="clear"></div>
               
				<div class="third bgwhite">
                    <a href="/static/html/mix-fight.html">
					<img alt="" src="/static/html/img/mix-fight-sm.jpg" />
					<div class="wtm">
						<h2>Mix fight (ММА)</h2>
					</div>
                    </a>
					<div class="b-card">
					   	<p>Cмешанные единоборства не могут преподаваться с нуля. Данное направление по своей сути &#8211; набор нескольких видов боевых искусств.</p>
                        <p>Приходя в наш клуб, человек рассказывает, какого результата он хочет добиться. Инструкторы могут подобрать и два, и даже три вида для параллельного изучения. Чаще всего это комбинация ударной и борцовской техник. <a href="/static/html/mix-fight.html">Читать далее ...</a></p>
                        <div class="card-action">
                        <p class="name">Индивидуальные занятия</p>
						<p class="registration"><a href="#win1">Записаться</a></p>
						</div>	
					</div>
				</div>
				
				                
				<div class="third bgwhite">
                    <a href="/static/html/sito-ru.html">
					<img alt="" src="/static/html/img/sito-ru-sm.jpg" />
					<div class="wtm">
						<h2>Каратэдо Сито-рю</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/sito-ru.html"><img alt="" src="/static/html/img/orlov.jpg" /></a>
							<p><a href="/static/html/sito-ru.html">Юрий Леонидович Орлов</a> &#8211; Кандидат педагогических наук, профессор, заслуженный тренер России. Занимается Каратэ 47 лет, преподает 41 год</p>
                        </div>
                        <div class="b-card-content">
							<p>Юрий Леонидович &#8211; известный специалист, педагог и спортивный тренер по Каратэ. Каратэ занимается с 1968 г. Прямой ученик Сато Тэцуо. Обладатель 7 дана (WKF) и 6 дана Сито Рю (WSKF). <a href="/static/html/sito-ru.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 19:45 - 21:45<br>
                        	Среда: 19:30 - 21:30<br>
                        	Суббота: 12:00 - 14:00</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
								
				<div class="third bgwhite">
                    <a href="/static/html/muai-tay.html">
					<img alt="" src="/static/html/img/muai-tay-sm.jpg" />
					<div class="wtm">
						<h2>Тайский бокс</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/muai-tay.html"><img alt="" src="/static/html/img/pleshakov.jpg" /></a>
						  <p><a href="/static/html/muai-tay.html">Павел Плешаков</a> &#8211; инструктор по Тайскому боксу. Занимается Тайским боксом 14 лет, преподает 8 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«Муай тай примечателен тем, что это универсальный стиль, который можно совмещать с любым боевым искусством или другими видами спорта. Он прост и многогранен».  <a href="/static/html/muai-tay.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Вторник: 08:00 - 09:30<br>
                        	Вторник: 20:00 - 21:30<br>
                        	Четверг: 20:00 - 21:30<br>
                        	Пятница: 08:00 - 09:30<br>
                        	Суббота: 15:00 - 16:30</p>                        
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				
				<div class="clear"></div>
				
				<div class="third bgwhite">
                    <a href="/static/html/martial-arts-for-women.html">
					<img alt="" src="/static/html/img/martial-arts-for-women-sm.jpg" />
					<div class="wtm">
						<h2>Боевые искусства для женщин</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/martial-arts-for-women.html"><img alt="" src="/static/html/img/rykova.jpg" /></a>
                            <p class="name"><a href="/static/html/martial-arts-for-women.html">Валерия Рыкова</a> 
инструктор по Основам боевых искусств. Мастер спорта России по Капоэйра. Чемпионка России по Капоэйра 2011 года. Занимается спортом 15 лет, преподает 6 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«Традиционные боевые искусства, к сожалению, редко попадают в поле зрения женщин, собирающихся заняться спортом. Как правило, максимум, на что решаются дамы»  <a href="/static/html/martial-arts-for-women.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 17:00 - 18:30<br>Четверг: 17:30 - 19:00</p>
                        	<p class="registration"><a href="#win1">Записаться</a></p>
                        	</div>
                        </div>	
					</div>
				</div>
				
				<div class="third bgwhite">
                    <a href="/static/html/hojo-undo.html">
					<img alt="" src="/static/html/img/hojo-undo-sm.jpg" />
					<div class="wtm">
						<h2>Ходзё Ундо</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/hojo-undo.html"><img alt="" src="/static/html/img/rybakov-d.jpg" /></a>
						  <p><a href="/static/html/hojo-undo.html">Дмитрий Рыбаков</a> &#8211; инструктор по Окинава каратэ, Hojo Undo (Ходзё Ундо). Занимается Каратэ 16 лет, преподает 10 лет</p>	
                        </div>
                        <div class="b-card-content">
							<p>«Только преодолевая свой страх, идя навстречу тому, чего боимся, мы проходим ступени своего развития. На то, чтобы стать свободным, найти себя может понадобиться целая жизнь, но разве не в этом ее смысл?» <a href="/static/html/hojo-undo.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Только персональные тренировки</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="third bgwhite">
                    <a href="/static/html/martial-arts-for-children.html">
					<img alt="" src="/static/html/img/martial-arts-for-child-sm.jpg" />
					<div class="wtm">
						<h2>Боевые искусства для детей 3-6 лет</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/martial-arts-for-children.html"><img alt="" src="/static/html/img/rykova.jpg" /></a>
                            <p><a href="/static/html/martial-arts-for-children.html">Валерия Рыкова</a>  инструктор по Основам боевых искусств для детей. Мастер спорта России по Капоэйра. Чемпионка России по Капоэйра 2011 года Занимается спортом 15 лет, преподает 6 лет</p>
                        </div>
						<div class="b-card-content">
							<p>Основа методики тренировок заключается в разумном использовании физических и психических особенностей детей 3-6 лет <a href="/static/html/martial-arts-for-children.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Понедельник: 18:45 - 20:00<br>
                        	Четверг: 18:45 - 20:00</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
                   	</div>
                    	</div>
                    </div>
				</div>
				
				
				<div class="clear"></div>
				
				<div class="third bgwhite">
                    <a href="/static/html/capoeira-for-children.html">
                    <img alt="" src="/static/html/img/capoeira-child-sm.jpg" />
					<div class="wtm">
						<h2>Капоэйра детям 6+</h2>
					</div>
                    </a>
					<div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/capoeira-for-children.html"><img alt="" src="/static/html/img/khromov.jpg" /></a>
						    <p><a href="/static/html/capoeira-for-children.html">Николай Хромов</a> &#8211; инструктор по Капоэйра. Занимается Капоэйра 8 лет, преподает 4 года</p>
                        </div>
                        <div class="b-card-content">	
							<p>«Капоэйра – это свобода самовыражения. Как и любое боевое искусство, она укрепляет и развивает. С её помощью можно не только поддержать физическую форму, но и проработать многие внутренние процессы..» <a href="/static/html/capoeira-for-children.html">Читать далее ...</a></p>
							<div class="card-action">
							<p class="name">Вторник: 17:00 - 18:15<br>
                        	Пятница: 17:00 - 18:15</p>
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="third bgwhite">
                    <a href="/static/html/okinawa-karate-for-children.html">
					<img alt="" src="/static/html/img/okinawa-karate-children-sm.jpg" />
					<div class="wtm">
						<h2>Окинава каратэ детям 6+</h2>
					</div>
                    </a>
					<div class="b-card">
					    <div class="b-name-64">
							<a href="/static/html/okinawa-karate-for-children.html"><img alt="" src="/static/html/img/shishkin.jpg" /></a>
                            <p class="name"><a href="/static/html/okinawa-karate-for-children.html">Михаил Шишкин</a> &#8211; исполнительный директор WMA, инструктор по Окинава каратэ. Занимается Окинава каратэ 18 лет, преподает 14 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«Дети, занимающиеся Каратэ, с легкостью сдают любые школьные и, позже, институтские спортивные 
нормативы. Но также и учеба начинает идти легче, так как на тренировках 
они учатся концентрации» <a href="/static/html/okinawa-karate-for-children.html">Читать далее ...</a></p>
						<div class="card-action">
							<p class="name">Понедельник: 17:00 - 18:15<br>
                        	Четверг: 17:00 - 18:15</p>  
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="third bgwhite">
                    <a href="/static/html/muai-tay-for-children.html">
					<img alt="" src="/static/html/img/muai-tay-kids-sm.jpg" />
					<div class="wtm">
						<h2>Тайский бокс детям 6+</h2>
					</div>
                    </a>
					<div class="b-card">
                        <div class="b-name-64">
							<a href="/static/html/muai-tay-for-children.html"><img alt="" src="/static/html/img/pleshakov.jpg" /></a>
						  <p><a href="/static/html/muai-tay-for-children.html">Павел Плешаков</a> &#8211; инструктор по Тайскому боксу. Занимается Тайским боксом 14 лет, преподает 8 лет</p>
                        </div>
                        <div class="b-card-content">
							<p>«На тренировках детей 
по Тайскому боксу существуют ограничения в используемых приемах. Действия, происходящие на тренировках для детей &#8211; мирное событие, направленное на укрепление здоровья и 
духа ребенка».  <a href="/static/html/muai-tay-for-children.html">Читать далее ...</a></p>
						<div class="card-action">
							<p class="name">Вторник: 17:00 - 18:15<br>
                        	Пятница: 17:00 - 18:15</p>                        
							<p class="registration"><a href="#win1">Записаться</a></p>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="clear"></div>
				
							
				<h3><a href="/static/html/price.html">Смотрите стоимость тренировок</a><br>
                <span>Запись на пробное занятие по телефонам:<br>+ 7 (499) 600 40 70 / + 7 (495) 600 40 70</span></h3>
				<div class="inner-780"><p>Все инструкторы нашего клуба, помимо тренировок по расписанию проводят также индивидуальные тренировки. Удобное вам время вы можете подобрать с администратором клуба.<br><br></p></div>
                
			</div>
		</div>
	</article>
    
	<div class="clear"></div>
    
	<article>
		<div class="inner">
			<div class="half">
				<a href="/static/html/cafe-wma.html"><img alt="" src="/static/html/img/bar.jpg" /></a>
			</div>
			<div class="half">
				<h5>После тренировки вас ждет:</h5>
				<p>&#8211; сауна клуба;</p><p>&#8211; высококвалифицированный спортивный массажист;</p><p>&#8211; кафе клуба, где вы можете позавтракать, пообедать или поужинать (в <a href="/static/html/cafe-wma.html">ассортименете блюда из органических продуктов, широкий выбор различных видов чая, фрешей, свежевыжатых соков);</a></p>
				<p>&#8211; удобный бесплатный паркинг на территории нашего клуба.</p>
			</div> 
		</div>
        
		<div class="clear"></div>
        
	</article>
		
	<article>
		<div class="inner">
			<div class="full bggrey">
				<div class="inner-780">
					<h3><a href="/static/html/price.html#ind">Индивидуальные тренировки</a></h3>
					<p>Разрабатываем специальную программу занятий в зависимости от вашего физического состояния</p>
					<p>Тренировки проводятся в удобное для вас время<br><br></p>
				</div>
			</div> 
		</div>
		
		<div class="clear"></div>
	</article>
	
	
	<article>
		<div class="inner" id="map">
			
            <div class="half">
				<p>Как нас найти:</p>
				<p> ООО «Ворлд Маршал Артс»<br>119048, г. Москва, ул. Литвина-Седого, д.3а<br><br>GPS<br> Широта 55°45′39″N (55.760768)<br>Долгота 37°32′34″E (37.542725)<br><a href="#win2">Посмотреть карту во весь экран</a><br><br>Телефоны: +7 (499) 600 40 70 / +7 (495) 600 40 70 /<br>+7 (495) 707 23 72<br>E-mail: <a href="#win3">wma@wmaclub.ru</a></p>
			</div>
			
			<div class="half">
                <img alt="" src="/static/html/img/map.jpg" />
			</div> 
		</div>
		
		<div class="clear"></div>
	
    </article>
	
    <div id='mountRecord'></div>

	<article>
		<div class="inner">
			<h3>Запись в клуб</h3>
			<div class="inputblock">
				<form action="http://127.0.0.1:8000/forms/" method="POST">
					{% csrf_token %}
			    	<input name="title" placeholder="Ваше имя" type="text" /><br />
           			<input placeholder="Контактный телефон" type="text" /><br />
            		<input placeholder="Ваш e-mail" type="email" /><br />
            		<input placeholder="Напишите удобное вам время для занятий" type="email" /><br />
    				<textarea name="body" placeholder="Пожалуйста, напишите здесь удобное время для звонка или ваши вопросы ..."></textarea><br />
        			<input type="submit" class="button" value="Отправить" />
        		</form>
        	</div>
		</div>
	</article>
	
	<article>
		<div class="inner">
			<div class="full bggrey">
				<div class="inner-780">
					<h3>Наш клуб в социальных сетях</h3>
					<p><img alt="" src="/static/html/img/s/f.png" /><img alt="" src="/static/html/img/s/i.png" /><img alt="" src="/static/html/img/s/g.png" /><img alt="" src="/static/html/img/s/v.png" /><img alt="" src="/static/html/img/s/t.png" /><img alt="" src="/static/html/img/s/y.png" /></p>
				</div>
			</div> 
		</div>
		
		<div class="clear"></div>
        
	</article>
	
	<footer>
		<nav>
			<section>
				<div class="inner">
					<ul>
						<li><a href="/static/html/about.html">Мы</a></li>
						<li><a href="/static/html/club.html">Клуб</a></li>
						<li><a href="/static/html/price.html">Стоимость</a></li>
						<li><a href="#win1">Запись&nbsp;в&nbsp;клуб</a></li>
						<li><a href="/static/html/cafe-wma.html">WMA кафе</a></li>
						<li><a href="#map">Контакты</a></li>
					</ul>
					
					<ul>
						<li>+7 (499) 600 40 70</li>
						<li>+7 (495) 600 40 70</li>
						<li>+7 (495) 707 23 72</li>
											</ul>
					
					<p>Москва, ул. Литвина-Седого, д.3а</p>
					
					
					<p>У вас есть предложения по улучшению работы клуба? Присылайте!<br>Мы будем вам благодарны.<br><a href="#win3">info@wmaclub.ru</a> <br> <br>wmaclub.ru &copy; 2015</p>
					
					<p>&nbsp;</p>
				</div>
			</section>
		</nav> 
	</footer>
	<!-- Модальное Окно №1 Запись в клуб -->
    <div class="dm-overlay" id="win1">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal bg-modal">
                    <a href="#close" class="close"></a>
                        <div class="inner">
			<h6>Запись в клуб</h6>
			<div class="inputblock-modal">
				<form>
			    	<input placeholder="Ваше имя" type="text" /><br />
           			<input placeholder="Контактный телефон" type="text" /><br />
            		<input placeholder="Ваш e-mail" type="email" /><br />
            		<input placeholder="Напишите удобное вам время для занятий" type="email" /><br />
    				<textarea placeholder="Пожалуйста, напишите здесь удобное время для звонка или ваши вопросы ..."></textarea><br />
        			<input type="submit" class="button" value="Отправить" />
        		</form>
        	</div>
		</div>
                  </div>
            </div>
        </div>
    </div>
    
    <!-- Модальное Окно №2 Карта Сереж сюда бы хорошо вывести Yandex карту можно и Google но у Yandex она посимпатичней выглядит-->
    <div class="dm-overlay" id="win2">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal bg-modal">
                    <a href="#close" class="close"></a>
                        <img alt="" src="/static/html/img/map.jpg" />
                  </div>
            </div>
        </div>
    </div>
    
    <!-- Модальное Окно №3 Предложения -->
    <div class="dm-overlay" id="win3">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal bg-modal">
                    <a href="#close" class="close"></a>
                        <div class="inner">
			<h6>Ваши предложения, замечания по работе клуба</h6>
			<div class="inputblock-modal">
				<form>
			    	<input placeholder="Ваше имя" type="text" /><br />
           			<input placeholder="Контактный телефон" type="text" /><br />
            		<input placeholder="Ваш e-mail" type="email" /><br />
            		<textarea placeholder="Пожалуйста, напишите ваши замечания, пожелания ... Ваше мнение важно для нас"></textarea><br />
        			<input type="submit" class="button" value="Отправить" />
        		</form>
        	</div>
		</div>
                  </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block js %}
    <script src="{% static 'react/build/Index.js' %}"></script>
{% endblock js %}


