
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Модальное Окно №1 Запись в клуб -->
    <div class="dm-overlay" id="win1">
        <div class="dm-table">
            <div class="dm-cell">
                <div class="dm-modal bg-modal">
                    <a href="#close" class="close"></a>
                        <div class="inner">
			<h6>Запись в клуб</h6>
			<div class="inputblock-modal">

				<form>
			    	<input placeholder="Ваше имя" type="text" /><br />
           			<input placeholder="Контактный телефон" type="text" /><br />
            		<input placeholder="Ваш e-mail" type="email" /><br />
            		<input placeholder="Напишите удобное вам время для занятий" type="email" /><br />
    				<textarea placeholder="Пожалуйста, напишите здесь удобное время для звонка или ваши вопросы ..."></textarea><br />
        			<input type="submit" class="button" value="Отправить" />
        		</form>

        	</div>
		</div>
                  </div>
            </div>
        </div>
    </div>
    
