
	<article>
		<div class="b-intro">
			<h1>Боевые искусства -<br> это физическое совершенство и образ мыслей</h1>
			<div class="inner-780">
			    <ul>
			        <li><a href="box.html">Бокс</a></li>
			        <li><a href="dzudzucu.html">Джиу-Джитсу</a></li>
			        <li><a href="capoeira-one.html">Капоэйра</a></li>
			        <li><a href="mix-fight.html">Mix fight (ММА)</a></li>
			        <li><a href="okinawa-kafate-zero.html">Окинава каратэ</a></li>
			        <li><a href="martial-arts-for-women.html">Боевые искусства для женщин</a></li>
			        <li><a href="sito-ru.html">Каратэдо Сито-рю</a></li>
			        <li><a href="muai-tay.html">Тайский бокс</a></li>
			        <li><a href="hojo-undo.html">Ходзё ундо</a></li><br>
                   <li class="serif-32">Детям</li><br>
                    <li><a href="martial-arts-for-children.html">Боевые искусства 3-6 лет</a></li>
                    <li><a href="capoeira-for-children.html">Капоэйра 6+</a></li>
                    <li><a href="okinawa-karate-for-children.html">Окинава каратэ 6+</a></li>
                    <li><a href="muai-tay-for-children.html">Тайский бокс 6+</a></li>
                    </ul>
            </div>
		</div>
	</article>


	<article>
		<div class="inner">
			
            <div class="half">
               
                <a href="club.html">
                <div class="opacity">
                <img alt="" src="img/room-1-sm.jpg" />
                </div>
				<div class="wtm">
					<h2>Мы сделали один из лучших клубов боевых искусств в России<br><span>Подробнее</span></h2>
				</div>
                </a>
			</div>
			
            <div class="half">
                <a href="about.html">
                <div class="opacity">
                <img alt="" src="img/inst-sm.jpg" />
                </div>
				<div class="wtm">
					<h2>И собрали команду высококлассных инструкторов<br><span>Подробнее</span></h2>
				</div>
                </a>
			</div> 
		</div>
		<div class="clear"></div>
	</article>
	
	
	<article>
		<div class="inner">
        <div class="full bggrey">

             <div class="third">
             <p class="serif-16"><a href="blog.html"><span>Начинаем новый сезон!</span></a><br>
	1 сентября &#8211; стартуют группы: 
	17:00 &#8211; Тайский бокс (детская группа)</p>   
			</div>
			
            <div class="third">
				<p class="serif-16"><a href="blog.html"><span>Выездной лагерь</span></a><br> 
  C 23 октября по 1 ноября пройдет выездной спортивно-тренировочный лагерь в отеле JW Marriott Phuket. </p>   
			</div>
			
			<div class="third">
				<p class="serif-16"><a href="blog.html"><span>Утренние группы</span></a><br>
  В новом сезоне у нас появилось то, чего многие очень ждали &#8211; утренние группы по Окинава каратэ и Тайскому боксу!</p>   
			</div>
        <div class="clear"></div>

		</div>
		</div>
	</article>
